# Maven / Spring Boot
/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot secrets
src/main/resources/application.properties
.env

# Compiled class files
*.class

# Logs
*.log

# IDEs
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# OS
.DS_Store

# Java packages
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
